.Action-wrapper{
}

.opacity-black{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.action-box{
    font-weight: 500;
    border: 2px solid black;
    width: 50%;
    border-collapse: collapse;
    background-color: #D26406;
    position: absolute;
    top: 40%;
    left: 25%;
}

td{
    border: 2px solid black;
    padding: 20px;
    font-size: 150%;
}

.action-intro{
    font-size: 180%;
    font-weight: 500;
    color: #ffffff;
    padding-top: 50px;
}

.bomb{
    position: absolute;
    width: 18%;
    left: 2%;
    top: 3%
}
