html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}


.container{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 00%;
    margin-top: 10%;
}

.page {
    height: 100%;
    width: 100%;
    position: absolute;
}

.login.page{
    background-color: #EBBC25;
}

.login.page .form{
    height: 100px;
    margin-top: -15%;
    position: relative;
    text-align: center;
    top: 30%;
    width: 100%;
}

.login.page .form .usrinput{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    padding-bottom: 12px;
    text-align: center;
    font-size: 200%;
}

h2{
    font-size: 450%;
    letter-spacing: 10px;
    color: #fff;
}

.confirm{
    background: #3498db;
    width: 15%;
    padding: 3px;
    position: absolute;
    left: 50%;
    top: 300%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
}

/* .joinRoom{
    display: inline-block;
    background: #3498db;
    width: 13%;
    position: absolute;
    left: 60%;
    top: 440%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4)
} */

p{
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 28px;
}

