html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.Room-wrapper{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

h2{
    text-align: center;
    margin-top: 10%;
    font-size: 450%;
    letter-spacing: 10px;
    color: #fff;
}

.room.select{
    background-color: #EBBC25;
}

.select{
    height: 100%;
    width: 100%;
    position: absolute;
}

.room.select .form2{
    height: 100px;
    margin-top: -15%;
    position: relative;
    text-align: center;
    top: 30%;
    width: 100%;
}

ul{
    padding: 0;
}

.joinroom-button{
    background: #3498db;
    padding: 3px;
    width: 30%;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    list-style-type:none;
}

.createroom-button{
    background: #3498db;
    padding: 3px;
    width: 30%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 25%;
    border-radius: 3px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    list-style-type:none;
}

p{
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 28px;
}
